*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'cocogoose';
  src: url('Cocogoose-Bold.ttf') format('ttf');
}

html {
  box-sizing: border-box;
  font-size: 62%;
}

body {
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.color-white {
  color: #fff;
}

.color-orange {
  color: #ec5242;
}

.color-gray {
  color: gray;
}

.cursor {
  cursor: pointer;
}

.underline-red:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.a-tag,
.a-tag:hover {
  color: inherit;
}

.top-nav {
  font-size: 1.3rem;
  height: 2.5rem;
}

.bot-nav {
  height: 6rem;
  font-size: 1.5rem;
  top: 0;
  z-index: 100;
}

.nav-logo {
  object-fit: cover;
  width: 10rem;
  height: 5rem;
}

.cc {
  border: 2px solid red;
}

.bars {
  font-size: 3.5rem;
}

.main-section {
  background: url(../img/main-bg.png);
}

.main-section-item {
  margin: 7vw;
  height: 100%;
}

.hello-title {
  font-size: 2.7vw;
}

.main-title {
  font-size: 5vw;
  line-height: 4.5vw;
}

.little-text-div {
  border: 3px solid gray;
  background-color: rgba(255, 255, 255, 0.5);
  width: 75%;
  font-size: 1.2vw;
}

.date-div {
  font-size: 1.4vw;
}

.date-bold {
  font-size: 2vw;
}

.main-program {
  height: auto;
}

.line {
  width: 4rem;
}

.middle-text {
  font-size: 1.2rem;
}

.middle-logo {
  width: 30vw;
}

.middle-logo-div {
  width: 35vw;
}

.past {
  width: 20vw;
  height: 13vw;
  font-size: 1.3rem;
}

.past-1 {
  background: linear-gradient(rgba(177, 7, 7, 0.5), rgba(177, 7, 7, 0.5)), url(../img/past-1.jpg);
  background-size: cover;
}

.past-2 {
  background: linear-gradient(rgba(177, 7, 7, 0.5), rgba(177, 7, 7, 0.5)), url(../img/past-2.jpg);
  background-size: cover;
}

.footer {
  padding: 6vw;
  background-color: #3a3a3a;
}

.footer-img {
  height: 8vw;
  filter: invert(77%);
}

.footer-text {
  width: 50%;
}

@media only screen and (max-width: 1024px) {
  .past {
    width: 100%;
    height: 10rem;
  }
}

@media only screen and (max-width: 768px) {
  .main-title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hello-title {
    font-size: 2rem;
  }

  .little-text-div {
    font-size: 1.2rem;
  }

  .footer-img {
    height: 6rem;
  }

  .past {
    width: 100%;
    height: 10rem;
  }
}
