*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'cocogoose';
  src: url('Cocogoose-Bold.ttf') format('ttf');
}

html {
  box-sizing: border-box;
  font-size: 62%;
}

body {
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.color-white {
  color: #fff;
}

.color-ored {
  color: rgb(255, 0, 0);
}

.color-orange {
  color: orangered;
}

.color-gray {
  color: gray;
}

.cursor {
  cursor: pointer;
}

.underline-red:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.a-tag,
.a-tag:hover {
  color: inherit;
}

.top-nav {
  font-size: 1.3rem;
  height: 2.5rem;
}

.bot-nav {
  height: 6rem;
  font-size: 1.5rem;
  top: 0;
  z-index: 100;
}

.nav-logo {
  object-fit: cover;
  width: 10rem;
  height: 5rem;
}

.cc {
  border: 2px solid red;
}

.bars {
  font-size: 3.5rem;
}

.main-section {
  background-image: url(../img/main-bg.png);
}

.main-section-item {
  width: 80vw;
  height: 100%;
  margin: 7rem auto;
}

.hello-title {
  font-size: 2.7vw;
}

.main-title {
  font-size: 5vw;
  line-height: 4.5vw;
}

.little-text-div {
  border: 3px solid gray;
  background-color: rgba(200, 200, 200, 0.5);
  width: 57%;
  font-size: 1.2vw;
}

.date-div {
  font-size: 1.4vw;
}

.date-bold {
  font-size: 2vw;
}

.main-program {
  height: auto;
  background-image: url(../img/dark-bg.jpg);
  background-size: 20rem;
}

.line {
  width: 4rem;
}

.program-icon {
  font-size: 5rem;
}

.program-grid {
  font-size: 1..2vw;
}

.program-grid-item {
  width: 15rem;
  height: 20rem;
  background-color: rgba(150, 150, 150, 0.3);
  text-align: center;
}

.title-prog {
  font-size: 1.5vw;
}

.prog-a {
  text-decoration: underline;
}

.prog-a:hover {
  color: white;
}

.feature {
  margin: auto 7vw;
}

.feature-item {
  margin-right: 2px;
}

.corner-img {
  height: 5rem;
  transform: translate(3.5rem, -1.5rem);
  z-index: 0;
  opacity: 0.5;
}

.feature-img {
  object-fit: cover;
  height: 10rem;
  width: 10rem;
  z-index: 1;
}

.feature-author {
  font-size: 1.4rem;
}

.feature-size {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.line-b {
  margin: 0.5rem ;
  width: 2.5rem;
  border-bottom: 1px solid gray;
}

.partner-section {
  height: 18rem;
}

.partner-section-icon {
  padding: auto 5vw;
}

.partner-icon {
  font-size: 4rem;
}

.partner-img {
  width: 8rem;
  height: 3rem;
  filter: grayscale(100%);
}

.partner-img-daum {
  width: 10rem;
  height: 3rem;
  filter: invert(50%);
}

.footer {
  padding: 6vw;
}

.footer-img {
  height: 8vw;
}

.footer-text {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .main-title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hello-title {
    font-size: 2rem;
  }

  .little-text-div {
    font-size: 1.2rem;
  }

  .date-div {
    font-size: 1.5rem;
  }
  
  .date-bold {
    font-size: 1.6rem;
  }

  .feature-item {
    padding-left: -3rem;
  }

  .footer-img {
    height: 6rem;
  }
}
